.card {
    /*width: 100px;*/
    margin-right: 5px;
    border: 5px solid transparent;
    border-radius: 5px;
}

/*body {
    background-image: url(../images/carbon.jpg);
}*/

.cardSelected {
    border: 5px solid #44ae4c;
    background-color: #44ae4c;
    border-radius: 5px;
}

.ready {
    background-color: transparent;
    color: #fff;
    border: 0;
    font-size: 26px;
    /*font-weight: bold;*/
    font-family: Verdana;
}

    .ready:hover {
        color: #0b55a0;
    }

.topMenu {
    border-bottom: 2px solid #efefef;
    float: left;
    width: 99%;
    padding: 10px;
    margin: 10px;
}

.CardsNumber {
    float: left;
}

    .CardsNumber > div {
        width: 260px;
    }

        .CardsNumber > div > span {
            font-size: 16px;
        }

        .CardsNumber > div > select {
            font-size: 16px;
        }

.Difficulty {
    float: left;
    margin-left: 20px;
}

    .Difficulty > div {
        width: 240px;
    }

        .Difficulty > div > span {
            font-size: 16px;
        }

        .Difficulty > div > select {
            font-size: 16px;
        }

.CardSize {
    float: left;
    margin-left: 20px;
}

 .CardSize > div {
        width: 240px;
    }

        .CardSize > div > span {
            font-size: 16px;
        }

        .CardSize > div > select {
            font-size: 16px;
        }

.restart {
    color: white;
    font-size: 18px;
    float: right;
    background-color: transparent;
    border: 0px;
    font-family: Verdana;
}

    .restart:hover {
        color: red;
    }

#mistakes {
    color: white;
    font-size: 22px;
    padding-top: 1em;
}

#sample_timer, #sample_countdown {
    font-size: 16px;
    color: white;
    margin-top: 10px;
}

#tryAgain, #nextStage {
    color: white;
    font-size: 22px;
    font-family: Verdana;
    border: 0;
    background-color: transparent;
}

    #tryAgain:hover, #nextStage:hover {
        color: #36a5c9;
    }

#nextStage {
    margin-left: 1em;
}

#table {
    display: inline-block;
}
